@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');









.containerr {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-right: 3px;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: white;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

li:hover{
    text-shadow: 0px 1px 25px rgba(13, 110, 253, 1);
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    .containerr {
        position: relative;
        max-width: 50%;
        z-index: 1000;
        margin-bottom: 2px;
        margin-top: 3px;
        display: inline;

  }
}