:root{
    --background-principal: none;
    --background-secundario: none;
    --color-texto: white;

  
}

body{
  background-color: black;
}

/*HEADER*/

.container_header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 180px; 
    height: 100%;
}

.container_navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container_navigation li{
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;

}
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  


.container-main{
    position: absolute;
    height: calc(50vh - 100px);;
    width: calc(50vh - 100px);;
    margin-top: calc(45vh - 100px);
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    
}

/*Portada*/

    .portada{
        display: block;
        text-align: center;
        align-items: center;
    }

    .portada h1{
        font-size: 5em;
    }

    .container-botones{
      position: relative;
      max-width: 30%;
      margin: auto;
      z-index: 1000;
      margin-top: 18px;
    }

    .botones-portada{
      position: relative;
      text-align: center;
    }

    @media (max-width: 768px) {
        .portada h1 {
            font-size: 3em; /* Ajusta el tamaño para dispositivos más pequeños */
        }
        .container-botones{
          position: relative;
          max-width: 50%;
          z-index: 1000;
          margin-bottom: 2px;
          margin-top: 3px;
          display: inline;
        }
        .container-botones button{
          margin-bottom: 5px;
          margin-top: 5px;
        }


    }

    #animated-heading {
      color: #ffffff;
      opacity: 0;
      transform: translateY(-40px);
      transition: opacity 1s, transform 1s;
      
  }

  #animated-heading2{
    color: #ffffff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
    
}
#animated-button{
  color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
  
}
/*Particles-js*/

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.miDiv{
  transition: bottom 1s ease-in-out;
}

.animate {
  animation: slideIn 1s ease-in-out forwards;
}
@keyframes slideIn {
  from {
      bottom: -100px;
  }
  to {
      bottom: 0;
  }
}

/*H1 ANIMADO*/

b{
  font-weight: 600;
  color: #0D6EFD;
  text-shadow: 0px 1px 25px rgba(13, 110, 253, 1);
}

h2{
  font-weight: 500;
  font-size: 50px;
}